<nb-card>
  <nb-card-body class="home-page">
    <h1>Hello how are you !</h1>
    The resultant moisture from the rain is what had prompted Jason Holder to elect to bowl, and his bowlers delivered
    immediately with a devastating opening spell. In a largely cloudy first hour, Roach was, by some distance, the
    bowler who bowled the fullest length and was rewarded for it. With steep climb from a length, he pinned the openers
    to the crease, and it didn't take him long to get one of them to poke with hard hands, although Mayank Agarwal had
    no choice but, against a ball holding its line after coming in. He got a thin outside edge, as did Cheteshwar Pujara
    four balls later. India's No. 3 was rooted to his leg stump guard and pushing away from the body, although based on
    the off stump line, he too had little choice. Shai Hope, stand-in wicketkeeper for the injured Shane Dowrich, had
    little trouble taking both those catches. While nagging in the corridor did the job for those two, West Indies
    needed a little more brute force with Virat Kohli. Gabriel had been spliced through point and then driven down the
    ground by India's captain, who, per usual, had looked India's most confident batsman within minutes of arriving.
    That was until Gabriel's burst of three consecutive short balls. One had him hopping, one snuck under an early pull
    to hit him on his right elbow. Against the third, Kohli jabbed away from the body, lobbing one harmlessly for
    debutant Shamarh Brooks at gully. Walking in at 25 for 3, Rahane showed immense restraint against a red-hot West
    Indies pace attack that greeted him at the crease with a short one into his mid-riff. At one point early in the day,
    Holder had bowled four consecutive maidens to him. He hung in with Rahul, another Indian batsman with a point to
    prove, and the pair made it past the opening hour. Both batsmen seemed to have made a concerted effort not to drive
    away from the body, a decision backing their myriad straight drives through the day. While not all of these drives
    produced runs or boundaries on a two-paced pitch, they seemed content in waiting it out. They only gave themselves
    permission to expand their games in the second session, when the sun was out and there was no swing on offer. The
    first cover-driven boundaries came during this period. But just as he looked like he had set himself up for a fifty,
    Rahul was caught sharply down the leg side by Shai Hope off Roston Chase. Rahul's disappointment was visible as he
    walked off. With the chance to make a substantial overseas score gone in somewhat unfortunate circumstances, it
    wasn't surprising. One of the most stirring passages of the day came after tea. After an afternoon of figuring out
    the pace of the wicket, Rahane and Vihari began aggressively. Off the second over of the session, Rahane dismissed a
    Roston Chase short ball and set off a ripple that carried into the next 30 minutes, with the two batsmen one would
    typecast into anchor roles scoring briskly. At one point, the session run rate was over seven per over.
  </nb-card-body>
</nb-card>
